<html>
    <head>
        <style>
            
            a.Panel {
                background-color: dodgerblue;
                color: white;
                text-size-adjust: 21px;
            }
        </style>
        <title>Admin Transaction Info</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
        <script src="myscripts.js"></script> 
        <script>
            var app = angular.module("my-app",[]);

                        // For popup
                        app.directive('modal', function () {
                return {
                template: '<div class="modal fade">' + 
                    '<div class="modal-dialog">' + 
                        '<div class="modal-content">' + 
                        '<div class="modal-header">' + 
                            '<button type="button" class="button-11" data-dismiss="modal" aria-hidden="true">&times;</button>' + 
                            '<p class="modal-title">Details:</p>' + 
                        '</div>' + 
                        '<div class="modal-body" ng-transclude></div>' + 
                        '</div>' + 
                    '</div>' + 
                    '</div>',
                restrict: 'E',
                transclude: true,
                replace:true,
                scope:true,
                link: function postLink(scope, element, attrs) {
                    scope.$watch(attrs.visible, function(value){
                    if(value == true)
                        $(element).modal('show');
                    else
                        $(element).modal('hide');
                    });

                    $(element).on('shown.bs.modal', function(){
                    scope.$apply(function(){
                        scope.$parent[attrs.visible] = true;
                    });
                    });

                    $(element).on('hidden.bs.modal', function(){
                    scope.$apply(function(){
                        scope.$parent[attrs.visible] = false;
                    });
                    });
                }
                };
            });
            //

            
            

            if(localStorage.getItem("_adminName") == null){
                    document.location.href = 'http://127.0.0.1:5500/login-user.html';
                }

            var userId = localStorage.getItem("_userId");

            app.factory('interceptor',[function(){
                var interceptor = {
                    request:function(config){
                        config.headers.Authorization=localStorage.getItem("_adminToken");
                        return config;
                    },
                    response:function(config){
                        return config;
                    }
                };
                return interceptor;
            }]);

            app.config(function($httpProvider){
                $httpProvider.interceptors.push('interceptor');
            });


            app.controller('userInfoCtrl', function($scope,$http){
                $scope.userName = localStorage.getItem("_adminName");
                var userId = localStorage.getItem("_adminId");
                $scope.lId = userId;

                    $scope.GetOwner = function(details){
                        $http.get("https://localhost:44312/api/user/"+details).then(function(resp){
                            debugger;
                            $scope.showModal = false;
                            debugger;
                            // $scope.buttonClicked = "";
                            $scope.buttonClicked = resp.data.Username;
                            $scope.info1 = resp.data.Id;
                            $scope.info2 = resp.data.Name;
                            $scope.info3 = resp.data.Phone;
                            $scope.info4 = resp.data.Email;
                            $scope.info5 = resp.data.Address;
                            $scope.info6 = resp.data.District;
                            debugger;
                            $scope.showModal = !$scope.showModal;
                            debugger;
                        }, function (err){

                        });
                    }
            });

                app.controller('adminListCtrl', function($scope,$http){


                    // 

                $scope.Export = function () {
                    debugger;
                html2canvas(document.getElementById('customers'), {
                    onrendered: function (canvas) {
                        debugger;
                        var data = canvas.toDataURL();
                        var docDefinition = {
                            content: [{
                                image: data,
                                width: 500
                            }]
                        };
                        pdfMake.createPdf(docDefinition).download("Table.pdf");
                    }
                });
                }


                // 


                //$scope.userName = localStorage.getItem("_userToken");
                var useriD = localStorage.getItem("_userId");
                $http.get("https://localhost:44312/api/transaction/view").then(function(resp){
                    $scope.admin = resp.data;
                    debugger;
                    $scope.givMess = "Received From";
                    $scope.givMess1 = "Sender Username";
                    $scope.givMess2 = "Sender Name";

                    $scope.myClick = function (value) {
                        if(value == "All"){
                            $http.get("https://localhost:44312/api/transaction/view").then(function(resp){
                                $scope.admin = resp.data;
                            },function(err){
                            });
                            $scope.admin = null;
                        }
                        if(value == "Deposit"){
                            $http.get("https://localhost:44312/api/transaction/view/Deposit").then(function(resp){
                                $scope.admin = resp.data;
                                $scope.givMess = "Send to";
                                $scope.givMess1 = "Receiver Username";
                                $scope.givMess2 = "Receiver Name";
                            },function(err){
                            });
                            $scope.admin = null;
                        }
                        if(value == "Transaction"){
                            $http.get("https://localhost:44312/api/transaction/view/Transaction/See").then(function(resp){
                                $scope.admin = resp.data;
                            },function(err){
                            });
                            $scope.admin = null;
                        }
                        if(value == "leaseland"){
                            $http.get("https://localhost:44312/api/transaction/view/Leasedland").then(function(resp){
                                $scope.admin = resp.data;
                            },function(err){
                            });
                            $scope.admin = null;
                        }
                        if(value == "Invest"){
                            $http.get("https://localhost:44312/api/transaction/view/Investinland").then(function(resp){
                                $scope.admin = resp.data;
                            },function(err){
                            });
                            $scope.admin = null;
                        }
                        if(value == "Wid"){
                            $http.get("https://localhost:44312/api/transaction/view/Withdrawed").then(function(resp){
                                $scope.admin = resp.data;
                            },function(err){
                            });
                            $scope.admin = null;
                        }
                        if(value == "Ret"){
                            $http.get("https://localhost:44312/api/transaction/view/Withdrawed/Returning").then(function(resp){
                                $scope.admin = resp.data;
                            },function(err){
                            });
                            $scope.admin = null;
                        }
                    };



                }, function(err){
                    debugger;
                });

                });
        </script>
    </head>

    <script type="text/javascript" src="js/lib/jquery-1.11.1.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="/CSS/down1.min.css">
    <link rel="stylesheet" type="text/css" href="/CSS/design.css">
    <link rel="stylesheet" type="text/css" href="/CSS/button.css">
    <link rel="stylesheet" type="text/css" href="/CSS/nev.css">
    <link rel="stylesheet" type="text/css" href="/CSS/table.css">
    <body ng-app="my-app">
        <div ng-controller="userInfoCtrl">
            <div>
                <modal visible="showModal">
                    <p>Username: {{buttonClicked}}</p>
                    <p>Id: {{info1}}</p>
                    <p>Name: {{info2}}</p>
                    <p>Phone: {{info3}}</p>
                    <p>Email: {{info4}}</p>
                    <p>Address: {{info5}}</p>
                    <p>District: {{info6}}</p>
                </modal>
            </div>
            <div class="header">
                <a href="../index.html" class="logo"><b>Digital agro</b></a>
                <div class="header-right">
                    <a class="Home" href="index.html">Home</a>
                    <a class="Panel" href="_admin_panel.html">Deshboard</a>
                    <a class="Profile" href="profile-admin.html">Profile</a>
                    <a class="Password" href="pass-admin.html">Change password</a>
                    <a class="Logout" href="logout.html">Logout</a>
                </div>
            </div>

            <!-- 2nd nevbar -->

            <ul>
                <li><a>{{userName}}-{{lId}}</a></li>
                <li><a href="_admin_panel.html">Assign Job</a></li>
                <li><a  href="_admin_allland.html">Lease Land Info</a></li>
                <li><a href="_admin_allinvestland.html">Invest Land Info</a></li>
                <li><a  href="_admin_getuserInfo.html">User Info</a></li>
                <li><a  href="_admin_gov_Official.html">Govment Official</a></li>
                <li><a class="active" href="_admin_transaction.html">Transactions</a></li>
            </ul>

            <br><br><br>
            <!-- Body -->
            <div ng-controller="adminListCtrl">

            <div class="main" style="text-align: center; outline: solid 1px black;display: flex;">
                <div>
                    <div ng-controller="userInfoCtrl">
                        <div class="signup-form" >
                            <h2 class="form-title">Click option to show specific table!</h2>
                            <form class="form-radio" [(ngModel)]>

                                <input ng-checked='true' ng-model="value" type="radio" name="member_level" value="All" id="newbie" checked />
                                <label for="newbie">All history </label>
        
                                <input ng-model="value" type="radio" name="member_level" value="Deposit" id="average" />
                                <label for="average">By Deposite</label>

                                <input ng-model="value" type="radio" name="member_level" value="Transaction" id="average" />
                                <label for="average">By Transaction</label>

                                <input ng-model="value" type="radio" name="member_level" value="leaseland" id="average" />
                                <label for="average">By leaseland</label>

                                <input ng-model="value" type="radio" name="member_level" value="Invest" id="average" />
                                <label for="average">By invest</label>

                                <input ng-model="value" type="radio" name="member_level" value="Wid" id="average" />
                                <label for="average">By Withdrawed</label>

                                <input ng-model="value" type="radio" name="member_level" value="Ret" id="average" />
                                <label for="average">By returning ammount</label>
        
                                <span>&nbsp&nbsp&nbsp&nbsp</span>
                                <span></span>
                                <a class="button-2" type="button" ng-click="myClick(value)">Filter</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <input type="button" class="button-4" value="Download" ng-click="Export()" />
            <br><br>

            <!-- CHECKBOX -->
                <table style="width: 80%;" id="customers" >
                    <tr>
                        <th style="text-align: center;">Id</th>
                        <th style="text-align: center;">Sender Username - Id</th> 
                        <th style="text-align: center;">Recever Username - Id</th> 
                        <!-- Send or sec from -->
                        <th style="text-align: center;">Transaction type</th>
                        <th style="text-align: center;">Time</th>
                        <th style="text-align: center;">Ammount</th>
                    </tr>
                    <form ng-submit="createAdmin()">
                    <tr ng-repeat="h in admin">
                        <td>{{h.Id}}</td>
                        <td><input type="submit" ng-click="GetOwner(h.SenderId)" name="submit" class="button-4" value="{{h.SenderId}} - {{h.SenderUsername}}" class="submit"></td>
                        <td><input type="submit" ng-click="GetOwner(h.ReceiverId)" name="submit" class="button-4" value="{{h.ReceiverId}} - {{h.ReceiverName}}" class="submit"></td>
                        <td>{{h.Type}}</td>
                        <td>{{h.TransactionTime| date:'yyyy-MM-dd'}}</td>
                        <td>{{h.Ammount}}</td>
                        <!-- <td><input type="submit" value="Lease" class="button-1"></td> -->
                    </tr>
                </form>
                </table>
            </div>
        </div>



        <!-- Body -->
        <br>


        <footer class="site-footer">
            <div class="container1">
                <p>Digital-agro is a non-profit digital platform for farmers and entrepreneurs to 
                    work together and help our economy and agricultural stability. </p>
                <h4> &copy; 2022. Digital-agro Ltd</h4>
                <address>
                    Mail at <a href="info@da.com">info@Digital-agro.com</a><br>
                    Visit us at: House #16, Road # 2<br>
                    Dhanmondi R/A<br>Dhaka-1205<br>
                    Bangladesh
                </address>
            </div>
        </footer>
        
    </body>
</html>