<html>
    <head>
        <style>
            
            a.Panel {
                background-color: dodgerblue;
                color: white;
                text-size-adjust: 21px;
            }
        </style>
        <title>Admin Panel</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
        <script src="myscripts.js"></script> 
        <script>
            var app = angular.module("my-app",[]);
            localStorage.setItem("_adminIdForVerify", null);

            // For popup
            app.directive('modal', function () {
                return {
                template: '<div class="modal fade">' + 
                    '<div class="modal-dialog">' + 
                        '<div class="modal-content">' + 
                        '<div class="modal-header">' + 
                            '<button type="button" class="button-11" data-dismiss="modal" aria-hidden="true">&times;</button>' + 
                            '<p class="modal-title">Details:{{giveConfirmMess}}</p>' + 
                        '</div>' + 
                        '<div class="modal-body" ng-transclude></div>' + 
                        '</div>' + 
                    '</div>' + 
                    '</div>',
                restrict: 'E',
                transclude: true,
                replace:true,
                scope:true,
                link: function postLink(scope, element, attrs) {
                    scope.$watch(attrs.visible, function(value){
                    if(value == true)
                        $(element).modal('show');
                    else
                        $(element).modal('hide');
                    });

                    $(element).on('shown.bs.modal', function(){
                    scope.$apply(function(){
                        scope.$parent[attrs.visible] = true;
                    });
                    });

                    $(element).on('hidden.bs.modal', function(){
                    scope.$apply(function(){
                        scope.$parent[attrs.visible] = false;
                    });
                    });
                }
                };
            });
            // 

            if(localStorage.getItem("_adminName") == null){
                    document.location.href = 'http://127.0.0.1:5500/login-user.html';
            }

            app.factory('interceptor',[function(){
                var interceptor = {
                    request:function(config){
                        config.headers.Authorization=localStorage.getItem("_adminToken");
                        return config;
                    },
                    response:function(config){
                        return config;
                    }
                };
                return interceptor;
            }]);

            app.config(function($httpProvider){
                $httpProvider.interceptors.push('interceptor');
            });


            app.controller('userInfoCtrl', function($scope,$http){


                // 

                $scope.Export = function () {
                    debugger;
                html2canvas(document.getElementById('customers'), {
                    onrendered: function (canvas) {
                        debugger;
                        var data = canvas.toDataURL();
                        var docDefinition = {
                            content: [{
                                image: data,
                                width: 500
                            }]
                        };
                        pdfMake.createPdf(docDefinition).download("Table.pdf");
                    }
                });
                }


                // 




                $scope.lId = localStorage.getItem("_adminId");
                $scope.userName = localStorage.getItem("_adminName");
                var userId = localStorage.getItem("_adminId");
                $http.get("https://localhost:44312/api/admin/"+userId).then(function(resp){
                    // $scope.wallet = resp.data.Wallet;
                    $scope.GetOwner = function(details){
                        $http.get("https://localhost:44312/api/user/"+details).then(function(resp){
                            $scope.showModal = false;
                            // $scope.buttonClicked = "";
                            $scope.giveConfirmMess = null;
                            $scope.buttonClicked = "Username: " +  resp.data.Username;
                            $scope.info1 = "Id: " + resp.data.Id;
                            $scope.info2 = "Name: "+resp.data.Name;
                            $scope.info3 =  "Phone: "+resp.data.Phone;
                            $scope.info4 = "Email: "+resp.data.Email;
                            $scope.info5 = "Address: "+resp.data.Address;
                            $scope.info6 = "District: "+resp.data.District;
                            $scope.showModal = !$scope.showModal;
                        }, function (err){
                        });
                    }
                    $scope.GetDetails = function (index, msg) {
                        var userIdForVerify = localStorage.getItem("_adminIdForVerify");
                        debugger;
                        if(msg == undefined){
                            // debugger;
                            // Do work for lease land
                            if(userIdForVerify != "null"){
                            // alert(userIdForVerify);
                            $http.post("https://localhost:44312/api/leaseland/assign/assignbygov/"+index+"/"+userIdForVerify).then(function(resp1){
                                debugger;
                                $scope.giveConfirmMess = null;
                                $scope.buttonClicked = resp1.data.data;
                                $scope.info1 = '';
                                $scope.info2 = '';
                                $scope.info3 =  '';
                                $scope.info4 = '';
                                $scope.info5 = '';
                                $scope.info6 = '';
                                $scope.showModal = !$scope.showModal;
                            })
                            }
                            else{
                                debugger;
                                $scope.giveConfirmMess = null;
                                $scope.buttonClicked = "Please select a govment before submit!! ";
                                $scope.info1 = '';
                                $scope.info2 = '';
                                $scope.info3 =  '';
                                $scope.info4 = '';
                                $scope.info5 = '';
                                $scope.info6 = '';
                                $scope.showModal = !$scope.showModal;
                            }
                        }
                        else{
                            //For lease Land
                            //
                            if(userIdForVerify != "null"){
                                debugger;
                                    $http.post("https://localhost:44312/api/investland/assign/assignbygov/"+index+"/"+userIdForVerify).then(function(resp1){
                                        debugger;
                                        $scope.giveConfirmMess = null;
                                        $scope.buttonClicked = resp1.data.data;
                                        $scope.info1 = '';
                                        $scope.info2 = '';
                                        $scope.info3 =  '';
                                        $scope.info4 = '';
                                        $scope.info5 = '';
                                        $scope.info6 = '';
                                        $scope.showModal = !$scope.showModal;
                                    })
                            }
                            else{
                                debugger;
                                $scope.giveConfirmMess = null;
                                $scope.buttonClicked = "Please select a govment before submit!! ";
                                $scope.info1 = '';
                                $scope.info2 = '';
                                $scope.info3 =  '';
                                $scope.info4 = '';
                                $scope.info5 = '';
                                $scope.info6 = '';
                                $scope.showModal = !$scope.showModal;
                            }
                        }
                    };

                }, function(err){
                });
            });

                app.controller('adminListCtrl', function($scope,$http){

                    $http.get("https://localhost:44312/api/gov").then(function(resp){
                    $scope.Fruits = resp.data;
                    }, function(err){
                    });

                    $scope.GetValue = function (fruit) {
                        localStorage.setItem("_adminIdForVerify", fruit.Id);
                        // var userIdForVerify = localStorage.getItem("_adminIdForVerify");
                        // localStorage.setItem("_check1", $scope.ddlFruits.Id);
                    }

                var gId = localStorage.getItem("_govId");
                $http.get("https://localhost:44312/api/Leaseland/byadmin/unavailable").then(function(resp){
                    $scope.admin = resp.data;
                    $scope.Price = "Price";
                    $scope.Period = "Period";

                    $scope.myClick = function (value) {

                        if(value == "Lease"){
                            // LeaseLand
                            $scope.Price = "Price";
                            $scope.Period = "Period";
                            $http.get("https://localhost:44312/api/Leaseland/byadmin/unavailable/").then(function(resp){
                                $scope.admin = resp.data;
                            },function(err){
                            });
                            $scope.admin = null;
                        }
                        if(value == "Invest"){
                            // investland
                            $scope.Price = "Asking ammount";
                            $scope.Period = "Crops";
                            $http.get("https://localhost:44312/api/Investland/byadmin/unavailable/").then(function(resp){
                                $scope.admin = resp.data;
                            },function(err){
                            });
                            $scope.admin = null;
                        }

                    };



                }, function(err){
                });

                });
        </script>
    </head>

    <script type="text/javascript" src="js/lib/jquery-1.11.1.min.js" ></script>
    <!-- Don't delete 1st link -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">  -->
    <link rel="stylesheet" type="text/css" href="/CSS/down1.min.css">
    <link rel="stylesheet" type="text/css" href="/CSS/design.css">
    <link rel="stylesheet" type="text/css" href="/CSS/button.css">
    <link rel="stylesheet" type="text/css" href="/CSS/nev.css">
    <link rel="stylesheet" type="text/css" href="/CSS/table.css">
    <body ng-app="my-app">
        <div ng-controller="userInfoCtrl">
            <div class="header">
                <a href="../index.html" class="logo"><b>Digital agro</b></a>
                <div class="header-right">
                    <a class="Home" href="index.html">Home</a>
                    <a class="Panel" href="_admin_panel.html">Deshboard</a>
                    <a class="Profile" href="profile-admin.html">Profile</a>
                    <a class="Password" href="pass-admin.html">Change password</a>
                    <a class="Logout" href="logout.html">Logout</a>
                </div>
            </div>

            <!-- 2nd nevbar -->

            <ul>
                <li><a>{{userName}}-{{lId}}</a></li>
                <li><a class="active" href="_admin_panel.html">Assign Job</a></li>
                <li><a  href="_admin_allland.html">Lease Land Info</a></li>
                <li><a href="_admin_allinvestland.html">Invest Land Info</a></li>
                <li><a  href="_admin_getuserInfo.html">User Info</a></li>
                <li><a  href="_admin_gov_Official.html">Govment Official</a></li>
                <li><a href="_admin_transaction.html">Transactions</a></li>
            </ul>
            <div>
                <modal visible="showModal">
                    <p>{{buttonClicked}}</p>
                    <p>{{info1}}</p>
                    <p>{{info2}}</p>
                    <p>{{info3}}</p>
                    <p>{{info4}}</p>
                    <p>{{info5}}</p>
                    <p>{{info6}}</p>
                </modal>
            </div>

            <br><br><br>
            <!-- Body -->
            <div ng-controller="adminListCtrl">

            <div class="main" style="text-align: center; outline: solid 1px black;display: flex;">
                <div>
                    <div ng-controller="userInfoCtrl">
                        <div class="signup-form" >
                            <h2 class="form-title">Click option to show specific table!</h2>
                            <form class="form-radio" [(ngModel)]>
                                <input ng-checked='true' ng-model="value" type="radio" name="member_level" value="Lease" id="newbie" checked />
                                <label for="newbie">Assign lease Land</label>
        
                                <input ng-model="value" type="radio" required name="member_level" value="Invest" id="average" />
                                <label for="average">Assign investment Land</label>

                                <span>&nbsp&nbsp&nbsp&nbsp</span>
                                <span></span>
                                <a class="button-2" type="button" ng-click="myClick(value)">Filter</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <input type="button" class="button-4" value="Download" ng-click="Export()" />
            <br><br>

            <!-- CHECKBOX -->
                <table style="width: 95%;" id="customers" >
                    <tr>
                        <th style="text-align: center;">Id</th>
                        <th style="text-align: center;">Address</th>
                        <th style="text-align: center;">District</th>
                        <th style="text-align: center;">Discription</th>
                        <th style="text-align: center;">{{Price}}</th>
                        <th style="text-align: center;">Landsize</th>
                        <th style="text-align: center;">Status</th>
                        <th style="text-align: center;">Owner userId</th>
                        <th style="text-align: center;">Publish Time</th>
                        <th style="text-align: center;">{{Period}}</th>
                        <th style="text-align: center;">Assigned Govment</th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                    <form ng-submit="createAdmin()">
                    <tr ng-repeat="h in admin">
                        <td ng-model="Name">{{h.Id}}</td>
                        <td>{{h.Address}}</td>
                        <td>{{h.District}}</td>
                        <td>{{h.Discription}}</td>
                        <td>{{h.Moneyneed}}{{h.Price}}$</td>
                        <td>{{h.Landsize}}</td>
                        <td>{{h.Status}}</td>
                        <td><input type="submit" ng-click="GetOwner(h.OwnerId)" name="submit" class="button-4" value="{{h.OwnerId}}" class="submit"></td>
                        <td>{{h.Publishtime | date:'yyyy-MM-dd'}}</td>
                        <td>{{h.Period}}{{h.WhichCrops}}</td>
                        <td ng-controller="userInfoCtrl">
                                <select style="width: 100%;" required ng-model="ddlFruits" ng-options="fruit as 'Username: '+fruit.Username+' - Id:'+fruit.Id for fruit in Fruits track by fruit.Name"
                                    ng-change="GetValue(ddlFruits)">
                                    <option value="">- Select a Gov. -</option>
                                </select>
                        </td>
                        <td><input type="submit" ng-click="GetDetails(h.Id, h.Moneyneed)" name="submit" class="button-1" class="submit" value="Assign"/>
                        </td>
                    </tr>
                </form>
                </table>
            </div>
        </div>



        <!-- Body -->
        <br>


        <footer class="site-footer">
            <div class="container1">
                <p>Digital-agro is a non-profit digital platform for farmers and entrepreneurs to 
                    work together and help our economy and agricultural stability. </p>
                <h4> &copy; 2022. Digital-agro Ltd</h4>
                <address>
                    Mail at <a href="info@da.com">info@Digital-agro.com</a><br>
                    Visit us at: House #16, Road # 2<br>
                    Dhanmondi R/A<br>Dhaka-1205<br>
                    Bangladesh
                </address>
            </div>
        </footer>
        
    </body>
</html>