<html>
    <head>
        <style>
            
            a.Panel {
                background-color: dodgerblue;
                color: white;
                text-size-adjust: 21px;
            }
        </style>
        <title>User Panel</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
        <script src="myscripts.js"></script> 
        <script>
            var app = angular.module("my-app",[]);

                        // For popup
                        app.directive('modal', function () {
                return {
                template: '<div class="modal fade">' + 
                    '<div class="modal-dialog">' + 
                        '<div class="modal-content">' + 
                        '<div class="modal-header">' + 
                            '<button type="button" class="button-11" data-dismiss="modal" aria-hidden="true">&times;</button>' + 
                            '<p class="modal-title">Details:{{giveConfirmMess}}</p>' + 
                        '</div>' + 
                        '<div class="modal-body" ng-transclude></div>' + 
                        '</div>' + 
                    '</div>' + 
                    '</div>',
                restrict: 'E',
                transclude: true,
                replace:true,
                scope:true,
                link: function postLink(scope, element, attrs) {
                    scope.$watch(attrs.visible, function(value){
                    if(value == true)
                        $(element).modal('show');
                    else
                        $(element).modal('hide');
                    });

                    $(element).on('shown.bs.modal', function(){
                    scope.$apply(function(){
                        scope.$parent[attrs.visible] = true;
                    });
                    });

                    $(element).on('hidden.bs.modal', function(){
                    scope.$apply(function(){
                        scope.$parent[attrs.visible] = false;
                    });
                    });
                }
                };
            });
            // 

            var userId = localStorage.getItem("_userId");
            if(localStorage.getItem("_userName") == null){
                    document.location.href = 'http://127.0.0.1:5500/login-user.html';
                }
            app.factory('interceptor',[function(){
                var interceptor = {
                    request:function(config){
                        config.headers.Authorization=localStorage.getItem("_userToken");
                        return config;
                    },
                    response:function(config){
                        return config;
                    }
                };
                return interceptor;
            }]);

            app.config(function($httpProvider){
                $httpProvider.interceptors.push('interceptor');
            });

            app.controller('userInfoCtrl', function($scope,$http){

                // 

                $scope.Export = function () {
                    debugger;
                html2canvas(document.getElementById('customers'), {
                    onrendered: function (canvas) {
                        debugger;
                        var data = canvas.toDataURL();
                        var docDefinition = {
                            content: [{
                                image: data,
                                width: 500
                            }]
                        };
                        pdfMake.createPdf(docDefinition).download("Table.pdf");
                    }
                });
                }


                // 
                $scope.userName = localStorage.getItem("_userName");
                $scope.lId = localStorage.getItem("_userId");
                $http.get("https://localhost:44312/api/user/"+userId).then(function(resp){
                    $scope.wallet = resp.data.Wallet;
                    $scope.GetDetails = function (index) {
                        var data = {LandId:index, UserId: localStorage.getItem("_userId")};
                        $http.post("https://localhost:44312/api/cl/add", data).then(function(resp1){
                            //alert(resp1.data.data);
                        },function(err){
                        })
                    };
                }, function(err){
                });
            });

                app.controller('adminListCtrl', function($scope,$http){
                    $scope.GetOwner = function(details){
                        $http.get("https://localhost:44312/api/user/"+details).then(function(resp){
                            $scope.showModal = false;
                            // $scope.buttonClicked = "";
                            $scope.giveConfirmMess = null;
                            $scope.buttonClicked = "Username: " +  resp.data.Username;
                            $scope.info1 = "Id: " + resp.data.Id;
                            $scope.info2 = "Name: "+resp.data.Name;
                            $scope.info3 =  "Phone: "+resp.data.Phone;
                            $scope.info4 = "Email: "+resp.data.Email;
                            $scope.info5 = "Address: "+resp.data.Address;
                            $scope.info6 = "District: "+resp.data.District;
                            $scope.showModal = !$scope.showModal;
                        }, function (err){
                        });
                    }
                $http.get("https://localhost:44312/api/Leaseland/byuser/"+userId).then(function(resp){
                    debugger;
                    $scope.admin = resp.data;
                }, function(err){
                });

                });
        </script>
    </head>

    <script type="text/javascript" src="js/lib/jquery-1.11.1.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="/CSS/down1.min.css">
    <link rel="stylesheet" type="text/css" href="/CSS/design.css">
    <link rel="stylesheet" type="text/css" href="/CSS/button.css">
    <link rel="stylesheet" type="text/css" href="/CSS/nev.css">
    <link rel="stylesheet" type="text/css" href="/CSS/table.css">
    <body ng-app="my-app">
        <div ng-controller="userInfoCtrl">
            <div class="header">
                <a href="../index.html" class="logo"><b>Digital agro</b></a>
                <div class="header-right">
                    <a class="Home" href="index.html">Home</a>
                    <a class="Panel" href="action_leaseLand.html">Deshboard</a>
                    <a class="Profile" href="profile-user.html">Profile</a>
                    <a class="Password" href="pass-user.html">Change password</a>
                    <a class="Logout" href="logout.html">Logout</a>
                </div>
            </div>

            <!-- 2nd nevbar -->

            <ul>
                <li><a>{{userName}}-{{lId}}</a></li>
                <li><a href="action_leaseLand.html">Lease</a></li>
                <li><a href="action_InvestLand.html">Invest</a></li>
                <li><a class="active" href="action_myleaseLand.html">My leased</a></li>
                <li><a href="action_myInvestStatus.html">My investments</a></li>
                <li><a href="action_completeInvestments.html">Return Investments</a></li>
                <li><a href="action_giveLease.html">Give lease</a></li>
                <li><a href="action_askInvestments.html">Ask investment</a></li>
                <li style="float:right"><a href="action_transaction.html">Transactions</a></li>
                <li style="float:right"><a class="active_all" href="action_wallet.html">Wallet: {{wallet|number : 1}}</a></li>
            </ul> 

            <br><br><br>
            <!-- Body -->

            <div ng-controller="adminListCtrl">
                <div>
                    <modal visible="showModal">
                        <p>{{buttonClicked}}</p>
                        <p>{{info1}}</p>
                        <p>{{info2}}</p>
                        <p>{{info3}}</p>
                        <p>{{info4}}</p>
                        <p>{{info5}}</p>
                        <p>{{info6}}</p>
                    </modal>
                </div>
                <input type="button" class="button-4" value="Download" ng-click="Export()" />
                <br><br>
                <table style="width: 80%;" id="customers" >
                    <tr>
                        <th style="text-align: center;">Id</th>
                        <th style="text-align: center;">Landwoner Username & Info</th>
                        <th style="text-align: center;">Landsize</th>
                        <th style="text-align: center;">District</th>
                        <th style="text-align: center;">Status</th>
                        <th style="text-align: center;">Leased time</th>
                        <th style="text-align: center;">Expire time</th>
                        <th style="text-align: center;">Land Location</th>
                        <th style="text-align: center;">Leased Price</th>
                    </tr>
                    <form ng-submit="createAdmin()">
                    <tr ng-repeat="h in admin">
                        <td ng-model="Name">{{h.Id}}</td>
                        <td><input type="submit" ng-click="GetOwner(h.OwnerId)" name="submit" class="button-4" value="{{h.OwnerUsername}} - {{h.OwnerId}}" class="submit"></td>
                        <td>{{h.LandSize}}</td>
                        <td>{{h.District}}</td>
                        <td>{{h.Status}}</td>
                        <td>{{h.LeasedTime | date:'yyyy-MM-dd'}}</td>
                        <td>{{h.ExpareLeaseTime | date:'yyyy-MM-dd'}} </td>
                        <td>{{h.LandAddress}}</td>
                        <td>{{h.Price}}$</td>
                        <!-- <td><input type="submit" value="Lease" class="button-1"></td> -->
                    </tr>
                </form>
                </table>
            </div>
        </div>



        <!-- Body -->
        <br>


        <footer class="site-footer">
            <div class="container1">
                <p>Digital-agro is a non-profit digital platform for farmers and entrepreneurs to 
                    work together and help our economy and agricultural stability. </p>
                <h4> &copy; 2022. Digital-agro Ltd</h4>
                <address>
                    Mail at <a href="info@da.com">info@Digital-agro.com</a><br>
                    Visit us at: House #16, Road # 2<br>
                    Dhanmondi R/A<br>Dhaka-1205<br>
                    Bangladesh
                </address>
            </div>
        </footer>
        
    </body>
</html>