<html>
    <head>
        <style>
            
            a.Panel {
                background-color: dodgerblue;
                color: white;
                text-size-adjust: 21px;
            }
        </style>
        <title>User Panel</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="myscripts.js"></script> 
        <script>
            var app = angular.module("my-app",[]);


                        // For popup
                        app.directive('modal', function () {
                return {
                template: '<div class="modal fade">' + 
                    '<div class="modal-dialog">' + 
                        '<div class="modal-content">' + 
                        '<div class="modal-header">' + 
                            '<button type="button" class="button-11" data-dismiss="modal" aria-hidden="true">&times;</button>' + 
                            '<p class="modal-title">{{tInfo}}!</p>' + 
                        '</div>' + 
                        '<div class="modal-body" ng-transclude></div>' + 
                        '</div>' + 
                    '</div>' + 
                    '</div>',
                restrict: 'E',
                transclude: true,
                replace:true,
                scope:true,
                link: function postLink(scope, element, attrs) {
                    scope.$watch(attrs.visible, function(value){
                    if(value == true)
                        $(element).modal('show');
                    else
                        $(element).modal('hide');
                    });

                    $(element).on('shown.bs.modal', function(){
                    scope.$apply(function(){
                        scope.$parent[attrs.visible] = true;
                    });
                    });

                    $(element).on('hidden.bs.modal', function(){
                    scope.$apply(function(){
                        scope.$parent[attrs.visible] = false;
                    });
                    });
                }
                };
            });
            // 

            if(localStorage.getItem("_userName") == null){
                    document.location.href = 'http://127.0.0.1:5500/login-user.html';
                }

            var userId = localStorage.getItem("_userId");

            app.factory('interceptor',[function(){
                var interceptor = {
                    request:function(config){
                        config.headers.Authorization=localStorage.getItem("_userToken");
                        return config;
                    },
                    response:function(config){
                        return config;
                    }
                };
                return interceptor;
            }]);

            app.config(function($httpProvider){
                $httpProvider.interceptors.push('interceptor');
            });


            app.controller('userInfoCtrl', function($scope,$http){
                $scope.userName = localStorage.getItem("_userName");
                var userId = localStorage.getItem("_userId");
                $scope.lId = userId;
                $http.get("https://localhost:44312/api/user/"+userId).then(function(resp){
                    $scope.wallet = resp.data.Wallet;

                }, function(err){
                });
            });

                app.controller('adminListCtrl', function($scope,$http){
                    
                    $scope.createAccount = function(){
                    if($scope.user.type == "Send/deposite money"){
                        var amm = $scope.Ammount;
                        var idR = $scope.ReceiverId;
                        var data = {ReceiverId:idR, Ammount:amm, SenderId: userId};
                        $http.post("https://localhost:44312/api/transaction/add", data).then(function(resp1){
                            $scope.giveMsg = resp1.data.Msg;
                            $scope.showModal = false;
                            $scope.tInfo = resp1.data.Msg;
                            if(resp1.data.Msg != "Insufficiend balance in your wallet!"){
                            $scope.tSenderId = "Send to: "+ resp1.data.data.ReceiverId;
                            $scope.tAmmount = "Ammount: "+ resp1.data.data.Ammount;
                            }
                            else{
                                $scope.tSenderId = '';
                                $scope.tAmmount = '';
                            }
                            $scope.buttonClicked = resp1.data.Msg;
                            $scope.showModal = !$scope.showModal;

                        },function(err){
                            $scope.giveMsg = "Incorrect cradential!"
                        })
                    }
                    else if($scope.user.type == "Widdrow money"){
                        var amm = $scope.Ammount;
                        var idR = $scope.ReceiverId;
                        if(idR == userId){

                            $http.post("https://localhost:44312/api/transaction/withdraw"+"/"+userId+"/"+userId+"/"+amm).then(function(resp1){
                                $scope.showModal = false;
                            $scope.giveMsg = resp1.data.data;

                                $scope.giveMsg = resp1.data.data;
                                $scope.showModal = false;
                                $scope.tInfo = resp1.data.data;
                                $scope.showModal = !$scope.showModal;

                            },function(err){
                                $scope.giveMsg = "Incorrect cradential!"
                            })
                        }
                        else{
                            $scope.showModal = false;
                            $scope.tInfo = "You can't withdraw from another account!!";
                            $scope.giveMsg = "You can't withdraw from another account!!"
                            $scope.showModal = !$scope.showModal;
                        }

                    }
                };

                });
        </script>
    </head>

    <script type="text/javascript" src="js/lib/jquery-1.11.1.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="/CSS/down1.min.css">
    <link rel="stylesheet" type="text/css" href="/CSS/design.css">
    <link rel="stylesheet" type="text/css" href="/CSS/button.css">
    <link rel="stylesheet" type="text/css" href="/CSS/nev.css">
    <link rel="stylesheet" type="text/css" href="/CSS/style.css">
    <body ng-app="my-app">
        <div ng-controller="userInfoCtrl">
            <div class="header">
                <a href="../index.html" class="logo"><b>Digital agro</b></a>
                <div class="header-right">
                    <a class="Home" href="index.html">Home</a>
                    <a class="Panel" href="action_leaseLand.html">Deshboard</a>
                    <a class="Profile" href="profile-user.html">Profile</a>
                    <a class="Password" href="pass-user.html">Change password</a>
                    <a class="Logout" href="logout.html">Logout</a>
                </div>
            </div>

            <!-- 2nd nevbar -->

            <ul>
                <li><a>{{userName}}-{{lId}}</a></li>
                <li><a href="action_leaseLand.html">Lease</a></li>
                <li><a href="action_InvestLand.html">Invest</a></li>
                <li><a href="action_myleaseLand.html">My leased</a></li>
                <li><a href="action_myInvestStatus.html">My investments</a></li>
                <li><a href="action_completeInvestments.html">Return Investments</a></li>
                <li><a href="action_giveLease.html">Give lease</a></li>
                <li><a href="action_askInvestments.html">Ask investment</a></li>
                <li style="float:right"><a href="action_transaction.html">Transactions</a></li>
                <li style="float:right"><a class="active_all" href="action_wallet.html">Wallet: {{wallet|number : 1}}</a></li>
            </ul>
            <br><br><br>
            <!-- Body -->
            <div ng-controller="adminListCtrl">

                <div class="main">
                    <div>
                        <modal visible="showModal">
                            <p>{{tSenderId}}</p>
                            <p>{{tAmmount}}</p>
                        </modal>
                    </div>

                    <h1></h1>
                    <div class="container">
                        <div class="sign-up-content">
                            <form ng-submit="createAccount()" class="signup-form" >
                                <h2 class="form-title">Transaction option?</h2>
                                <div class="form-radio" [(ngModel)]>
                                    <input required type="radio" ng-model="user.type" name="member_level" value="Send/deposite money" id="newbie" />
                                    <label for="newbie">Deposit/Send money</label>
            
                                    <input required type="radio" ng-model="user.type" name="member_level" value="Widdrow money" id="average" />
                                    <label for="average">Withdraw money</label>

                                    <p class="loginhere">
                                        You selected:  <b style="color: dodgerblue;">{{user.type}}</b> .</a>
                                    </p>
                                </div>
        
                                <div class="form-textbox">
                                    <label for="email">Rec. Id</label>
                                    <input type="text" ng-model="ReceiverId" requred name="ReceiverId" id="ReceiverId" />
                                </div>
            
                                <div class="form-textbox">
                                    <label for="pass">Ammount</label>
                                    <input type="number" step="0.1" required ng-model="Ammount"  name="Ammount" id="Ammount" />
                                </div>
        
                                <br>
                                <div class="form-textbox">
                                    <input type="submit" name="submit" id="submit" class="submit" value="Done" />
                                </div>
                            </form>
                            <p style="text-align: center; color: rgb(194, 73, 42);">{{giveMsg}}</p>
                            <!-- <p style="text-align: center; color: dodgerblue;">{{logcheck}}</p> -->
                        </div>
                    </div>
            
                </div>



            <br>

            </div>
        </div>



        <!-- Body -->
        <br>


        <footer class="site-footer">
            <div class="container1">
                <p>Digital-agro is a non-profit digital platform for farmers and entrepreneurs to 
                    work together and help our economy and agricultural stability. </p>
                <h4> &copy; 2022. Digital-agro Ltd</h4>
                <address>
                    Mail at <a href="info@da.com">info@Digital-agro.com</a><br>
                    Visit us at: House #16, Road # 2<br>
                    Dhanmondi R/A<br>Dhaka-1205<br>
                    Bangladesh
                </address>
            </div>
        </footer>
        
    </body>
</html>