<html>
    <head>
        <style>
            a.login {
                background-color: dodgerblue;
                color: white;
                text-size-adjust: 21px;
            }
        </style>
        <title>Login</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>


        <script>
            var app = angular.module("my-app",[]);

            app.factory('interceptor',[function(){
                var interceptor = {
                    request:function(config){
                        console.log("requesting");
                        return config;
                    },
                    response:function(config){
                        console.log("responsing");
                        return config;
                    }
                };
                return interceptor;
            }]);

            app.config(function($httpProvider){
                $httpProvider.interceptors.push('interceptor');
            });

            app.controller('regCtrl', function($scope, $http){
                if(localStorage.getItem("_userName") != null){
                    document.location.href = 'http://127.0.0.1:5500/action_leaseLand.html';
                }
                if(localStorage.getItem("_govName") != null){
                    document.location.href = 'http://127.0.0.1:5500/gov_verify.html';
                }
                if(localStorage.getItem("_adminName") != null){
                    document.location.href = 'http://127.0.0.1:5500/_admin_panel.html';
                }
                //inpliment other redirect
                $scope.createAccount = function(){
                    if($scope.user.type == "User"){
                        var data = {Username:$scope.Username, Password:$scope.Password};
                        $http.post("https://localhost:44312/api/login/user", data).then(function(resp1){
                            // $scope.logcheck = resp1.data.TKey + resp1.data.logId;
                            localStorage.setItem("_userToken", resp1.data.TKey);
                            localStorage.setItem("_userName", resp1.data.Username);
                            localStorage.setItem("_userId", resp1.data.logId);
                            document.location.href = 'http://127.0.0.1:5500/action_leaseLand.html';

                        },function(err){
                            $scope.err = "Wrong Username or Password!"
                        })
                    }
                    //for admin
                    else if($scope.user.type == "Admin"){
                        //admin
                        var data = {Username:$scope.Username, Password:$scope.Password};
                        $http.post("https://localhost:44312/api/login/admin", data).then(function(resp1){
                            // $scope.logcheck = resp1.data.TKey + resp1.data.logId;
                            localStorage.setItem("_adminToken", resp1.data.TKey);
                            localStorage.setItem("_adminName", resp1.data.Username);
                            localStorage.setItem("_adminId", resp1.data.logId);
                            document.location.href = 'http://127.0.0.1:5500/_admin_panel.html';

                        },function(err){
                            $scope.err = "Wrong Username or Password!"
                        })
                    }
                    else if($scope.user.type == "Govment"){
                        var data = {Username:$scope.Username, Password:$scope.Password};
                        $http.post("https://localhost:44312/api/login/govment", data).then(function(resp1){
                            // $scope.logcheck = resp1.data.TKey + resp1.data.logId;
                            localStorage.setItem("_govToken", resp1.data.TKey);
                            localStorage.setItem("_govName", resp1.data.Username);
                            localStorage.setItem("_govId", resp1.data.logId);
                            document.location.href = 'http://127.0.0.1:5500/gov_verify.html';

                        },function(err){
                            $scope.err = "Wrong Username or Password!"
                        })
                    }
                };
            });
        </script>

    </head>

    <link rel="stylesheet" type="text/css" href="/CSS/design.css">
    <link rel="stylesheet" type="text/css" href="/CSS/style.css">
    <link rel="stylesheet" type="text/css" href="/CSS/button.css">
    <body ng-app="my-app">
        <div class="header">
            <a href="../index.html" class="logo"><b>Digital agro</b></a>
            <div class="header-right">
                <a class="Home" href="../index.html">Home</a>
                <a class="login" href="../login-user.html">Login</a>
                <a class="Register" href="../register-user.html">Register</a>
                <a class="About" href="../about.html">About us</a>
            </div>
        </div>

        <!-- Body -->


        <div class="main" ng-controller="regCtrl">

            <h1></h1>
            <div class="container">
                <div class="sign-up-content">
                    <form ng-submit="createAccount()" class="signup-form" >
                        <h2 class="form-title">What type of user are you ?</h2>
                        <div class="form-radio" [(ngModel)]>
                            <input required type="radio" ng-model="user.type" name="member_level" value="User" id="newbie" />
                            <label for="newbie">User</label>
    
                            <input required type="radio" ng-model="user.type" name="member_level" value="Govment" id="average" />
                            <label for="average">Gov. Official</label>
    
                            <input required type="radio" ng-model="user.type" name="member_level" value="Admin" id="master" />
                            <label for="master">Admin</label>
                            <p class="loginhere">
                                You are login as <b style="color: dodgerblue;">{{user.type}}</b> .</a>
                            </p>
                        </div>

                        <div class="form-textbox">
                            <label for="email">Username</label>
                            <input type="text" ng-model="Username" requred name="Username" id="Username" />
                        </div>
                        {{usernameError}}
    
                        <div class="form-textbox">
                            <label for="pass">Password</label>
                            <input type="password" ng-model="Password"  name="Password" id="Password" />
                        </div>

                        <br>
                        <div class="form-textbox">
                            <input type="submit" name="submit" id="submit" class="submit" value="Login" />
                        </div>
                    </form>
                    <p style="text-align: center; color: rgb(182, 64, 35);">{{err}}</p>
                    <!-- <p style="text-align: center; color: dodgerblue;">{{logcheck}}</p> -->
    
                    <p class="loginhere">
                        Don't have an account ?<a href="#" class="loginhere-link"> Register here</a>
                    </p>
                </div>
            </div>
    
        </div>

        <!-- Body -->


        <footer class="site-footer">
            <div class="container1">
                <p>Digital-agro is a non-profit digital platform for farmers and entrepreneurs to 
                    work together and help our economy and agricultural stability. </p>
                <h4> &copy; 2022. Digital-agro Ltd</h4>
                <address>
                    Mail at <a href="info@da.com">info@Digital-agro.com</a><br>
                    Visit us at: House #16, Road # 2<br>
                    Dhanmondi R/A<br>Dhaka-1205<br>
                    Bangladesh
                </address>
            </div>
        </footer>
        
    </body>
</html>