<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        var app = angular.module("my-app",[]);

        function loadDoc() {
	
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function(){
            if(this.readyState == 4 && this.status ==200){
                var data = this.responseText;
                debugger;
                alert(data[1].Id);
            }
            };
            xhttp.open("GET","https://localhost:44312/api/admin", true);
            xhttp.send();
        }

        app.controller('fctrl',function($scope){
            $scope.course = "adv";
        });
        app.controller('2nd', function($scope){
            $scope.cars = ["bmw", "toyota", "ed"];
        });
        app.controller('loginCtrl', function($scope){
            $scope.login=function(){
                alert($scope.uname);
            };
        });

        app.controller('adminListCtrl', function($scope,$http){

            $http.get("https://localhost:44312/api/district").then(function(resp){
                $scope.Fruits = resp.data;
            }, function(err){
            });
            var fruitId;
            var fruitName;
            $scope.GetValue = function (fruit) {
                 fruitId = $scope.ddlFruits;
                 fruitName = $.grep($scope.Fruits, function (fruit) {
                    return fruit.Id == fruitId;
                })[0].Name;
                alert("Selected Value: " + fruitId + "\nSelected Text: " + fruitName);
                alert(fruitName);
                alert(fruitId);
            }
        });

        app.controller('adminAddCtrl',function($scope,$http){
            $scope.createAdmin = function(){
                    $http.get("https://localhost:44312/api/admin/").then(function(resp){
                        var data = {Name:$scope.Name, Phone:$scope.Phone, Email:$scope.Email, Dob:$scope.Dob, Username:$scope.Username, Password:$scope.Password};
                        var num = ["ami","km","oj"];

                        alert(resp.data[1].Name);
                        resp.data.forEach(function(value){
                            if($scope.Username == value){
                                $scope.error = "Exist";
                            }
                        });

                        if($scope.color.name == "red"){
                            $scope.ccc = "<h1>H1<h1>";
                        }
                        

                        $http.post("https://localhost:44312/api/admin/add", data).then(function(resp1){
                            $scope.err = resp1.data;
                        },function(err){
                        })
                }, function(err){
                });
            };
        });

        app.controller('ExampleController', ['$scope', function($scope) {
      $scope.color = {
        name: 'blue'
      };
      $scope.specialValue = {
        "id": "12345",
        "value": "green"
      };

        alert($scope.color.name )

    }]);
        



    </script>
</head>
<body ng-app="my-app">
    <button onclick="loadDoc()">Click Me</button>
    <input type="text" ng-model="name">
    <p>{{name}}</p>
    <div ng-controller="fctrl">
        <p>{{course}}</p>
    </div>
    <div ng-controller="2nd">
        <ul>
            <li ng-repeat="c in cars">{{c}}</li>
        </ul>
    </div>

    <div ng-controller="loginCtrl">
        <form ng-submit="login()">
            <input type="text" ng-model="uname"><br>
            <input type="password" ng-model="pass"><br>
            <input type="submit">
        </form>
    </div>

    <div ng-controller="adminListCtrl">
        <table border="1" style="border-collapse: collapse">
            <tr ng-repeat="h in admin">
                <td>{{h.Id}}</td>
                <td>{{h.Name}}</td>
                <td>{{h.Email}}</td>
                <td>{{h.Username}}</td>
            </tr>
        </table>
        <select ng-model="selected" ng-options="item.Name for item in admin">
            <option value="">-- Select a Book --</option>
        </select>

        <select ng-model="ddlFruits" ng-options="fruit.Id as fruit.Name for fruit in Fruits track by fruit.Name"
            ng-change="GetValue()">
        </select>
        {{ddlFruits}}



    </div>
    <br>

    <div ng-controller="adminAddCtrl">
        <form ng-submit="createAdmin()">
            <input type="text" ng-model="Name"><br>
            <input type="text" ng-model="Phone"><br>
            <input type="text" ng-model="Email"><br>
            <input type="datetime" ng-model="Dob"><br>
            <input type="text" ng-model="Username"><br>
            <span>{{error}}</span>
            <input type="text" ng-model="Password"><br>

            <label>
                <input type="radio" ng-model="color.name" value="red">
                Red
              </label><br/>
              <label>
                <input type="radio" ng-model="color.name" ng-value="specialValue">
                Green
              </label><br/>
              <label>
                <input type="radio" ng-model="color.name" value="blue">
                Blue
              </label><br/>
              <tt>color = {{color.name | json}}</tt><br/>
              {{ccc}}

            <input type="submit">
        </form>
        <h1>{{n}}</h1>
        <h1>{{c}}</h1>
        <br>
        <h1>{{chch}}</h1>
        
    </div>



    <!-- <form name="myForm" ng-controller="ExampleController">
        <label>
          <input type="radio" ng-model="color.name" value="red">
          Red
        </label><br/>
        <label>
          <input type="radio" ng-model="color.name" ng-value="specialValue">
          Green
        </label><br/>
        <label>
          <input type="radio" ng-model="color.name" value="blue">
          Blue
        </label><br/>
        <tt>color = {{color.name | json}}</tt><br/>
        <input type="submit">
       </form> -->




</body>
</html>