
    .header {
        overflow: hidden;
        background-color: #f1f1f1;
        padding: 20px 10px;
    }
        .header a {
            float: left;
            color: black;
            text-align: center;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            line-height: 15px;
            border-radius: 4px;
        }
            .header a.logo {
                font-size: 35px;
                font-weight: bold;
                color: #339933;
            }
            .header a:hover {
                background-color: gray;
                color: black;
            }
            .header a.active {
                background-color: dodgerblue;
                color: white;
            }
    /* Float the link section to the right */
    .header-right {
        float: right;
    }
    .header-left {
        float: left;
    }
    div.header {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        border: 2px;
    }

    .site-footer {
        background-color: #26272b;
        padding: 45px 0 20px;
        font-size: 15px;
        line-height: 24px;
        color: #f1f1f1;
    }

    .container1 {
        text-align: center;
    }

      
      select {
        /* Reset Select */
        appearance: none;
        outline: 0;
        border: 0;
        box-shadow: none;
        /* Personalize */
        flex: 1;
        padding: 0 1em;
        color: rgb(11, 9, 9);
        background-color: var(--darkgray);
        background-image: none;
        cursor: pointer;
      }

      .select {
        position: relative;
        display: flex;
        width: 35em;
        height: 2em;
        border-radius: .25em;
        overflow: hidden;
      }
      .select:hover::after {
        color: #f39c12;
      }
      
      /* Other styles*/
      body {
        color: rgb(6, 2, 2);
        background: var(--background-gradient);
      }

      h1 {
        margin: 0 0 0.25em;
      }


      
